main {
    display: flex;
    justify-content: space-between;
}

main > div {
    width: 75%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

main > div > div:first-child {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

#controls {
    display: flex;
    justify-content: space-around;
}

#horizontal, #vertical {
    width: 40%;
    display: inline-block;
}

#horizontal>div, #vertical>div {
    display: flex;
    justify-content: space-around;
    margin-bottom: -5%;
}

#flips button {
    height: 150px;
    width: 150px;
    margin-bottom: 15px;
}

#setup > div {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}

#setup > button {
    margin-top: 50px;
    margin-left: 50%;
    transform: translateX(-50%);
    width: 300px;
    height: 100px;
    border-radius: 25px;
}

button {
    width: 175px;
    height: 175px;
    border: 1px solid black;
    border-radius: 50%;
    font-size: 1.5rem;
}