h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 0.5vh;
    margin-top: 1vh;
}

aside {
    width: 20vw;
}

aside li {
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 55px;
}

aside #sequence {
    height: 60vh;
    overflow-y: auto;
}

#moves {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 87vh;
}

#moves li {
    width: 33%;
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin-top: 2vh;
    align-items: center;
}

#moves button {
    width: 10vw;
    height: 10vw;
}

#abort, #premade-moves-abort {
    position: absolute;
    bottom: 2vh;
    transform: translateX(-50%);
    width: 30%;
    height: 20vh;
    background-color: red;
    font-size: 3rem;
    font-weight: bold;
    color: white;
    border-radius: 25px;
}

#abort:after, #premade-moves-abort:after {
    background-color: #ff7777;
}

#premade-moves-abort {
    display: inherit;
}

#moves p {
    margin-left: 0.5vw;
    min-width: 7vw;
    font-size: 2rem;
}