# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\kwint\Documents\School\Int Project\code\parrot_ar\pxl-hasselt-drone-project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/modules.xml
/pxl-hasselt-drone-project.iml